/* Background elements to be colored #2e2c2c */
/* text color/elements should be whitesmoke or #f5f5f5 */
/* borders are lightgrey or #d3d3d3*/
* {
box-sizing: border-box;
background-color: #2e2c2c;
color: whitesmoke;
font-size: 16px;
font-family: 'Martian Mono', monospace;
font-family: 'Roboto Mono', monospace;
}
.input{
float: left;
align-items: center;
justify-content: center;
}

#infobanner{
justify-self: center;
text-align: center;
}

#cityentry{
max-width: 100%;
border-width: 2px;
}
#submit{
display: flex;
border-color: #d3d3d3;
border-style: solid;
border-radius: 15px;
justify-self: center;
color: whitesmoke;
text-align: center;
font-size: 16px;
margin-top: 1%;
padding: 5%;
margin: 0 auto;
}
.boxcontainer{
display: flex;
justify-content: center;
clear: left;
}

#box1,#box2,#box3,#box4,#box5{
    display: flex;
    float: right;
    width: 25%;
    height: 250px;
    margin: 0.5%;
    border-style: solid;
    clear: left;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-wrap: wrap;
  }
@media screen and (max-width: 700px){
    #banner{
        font-size: 12px;
    }
    .input{
     max-width: 150px;   
    }
}
